<div class="container">
  <div class="row">
    <div class="col-xs-5">
      <h3>I'm in the AppComponent</h3>
      <hr />
      <app-servers></app-servers>
    </div>
    <div
      class="col-xs-7"
      [AwesomeDirective]="'black'"
      [highlightColor]="'blue'"
    >
      <h1>This is Test Directive</h1>
      <ng-template appUnless="1!==1">
        <h1>We Test Structure directive</h1>
      </ng-template>
      <div [ngSwitch]="value">
        <p *ngSwitchCase="5">The value is 5</p>
        <p *ngSwitchCase="6">The value is 6</p>
        <p *ngSwitchCase="7">The value is 7</p>
      </div>
    </div>
    
  </div>
</div>
